<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>

    <table>
        <thead>
        <tr>
            <th>Nome:</th>
            <th>CPF:</th>
            <th>Endereço:</th>

        </tr>
        </thead>
        <tbody>
            <% clientes.forEach(cliente => { %>
                <tr>
                    <td><%= cliente.nome%></td>
                    <td><%= cliente.cpf%></td>
                    <td><%= cliente.endereço%></td>
                </tr>
         <%  })  %>   
        </tbody>
    </table>


</body>
</html>