<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Controle</title>
</head>
<body>
    <h1>Painel Administrativo</h1>
    <p>Através deste painel é possível listar as tabelas de clientes, produtos e pedidos</p>

    <ul>
        <a href="clientes">
            <li>Clientes</li>
        </a>
        <a href="produtos">
            <li>Produtos</li>
        </a>
        <a href="pedidos">
            <li>Pedidos</li>
        </a>

    </ul>

</body>
</html>