<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>Produto:</th>
            <th>Descrição:</th>
            <th>Preço:</th>

        </tr>
        </thead>
        <tbody>
            <% produtos.forEach(produto => { %>
                <tr>
                    <td><%= produto.produto%></td>
                    <td><%= produto.descrição%></td>
                    <td><%= produto.preço%></td>
                </tr>
         <%  })  %>   
        </tbody>
    </table>
</body>
</html>